<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pulingle.picture_service.mapper.PictureMapper">
    <insert id="insert" useGeneratedKeys="true" keyProperty="pictureId" parameterType="Picture">
        INSERT  INTO picture(user_id,picture_name,picture_url,upload_time,size,type)
        VALUES (#{userId},#{pictureName},#{pictureUrl},#{uploadTime},#{size},#{type})
    </insert>
</mapper>